body {
    background: #021d2c;
}

.bg-black {
    background: #000;
}

.card-project:hover {
    border: 1px solid #fff;
    cursor: pointer;
}

.bi {
    display: inline-block;
    vertical-align: -0.125em;
}

body > div.container.p-4 > header > div.col-md-4 > img {
    border-radius: 50%!important;
}